body {
  background-color: #c2c2d6;
  font-family: "Russo One";
}
.App {
  /* text-align: center; */
  border: 2px solid red;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: black;
  padding: 0.5rem;
}
.display-fields {
  display: flex;
  border: 5px solid blue;
  flex-direction: column;
}

.history {
  border: 1px solid green;
  color: coral;
}
#display {
  text-align: end;
  padding-right: 5px;
  border: 2px solid yellow;
  font-weight: 450;
  font-size: 2rem;
  font-family: "digital-clock-font";
}

.keyboard {
  display: grid;
  gap: 0;
  column-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(4, 1fr);
}

button:hover {
  background-color: yellow;
}
.buttons,
.buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  outline: 1px solid black;
}

.buttons > button {
  width: 100%;
  height: 70px;
}
.buttons:nth-child(1),
.buttons:nth-child(16) {
  grid-column: 1/ 3;
}
.buttons #clear {
  background-color: #bd4d4d;
}
.buttons #clear:hover {
  background-color: #ac3939;
}

.buttons:nth-child(15) {
  grid-row: span 2;
}

.buttons #equals {
  height: 100%;
}

.buttons #divide,
#multiply,
#subtract,
#add {
  background-color: #666666;
}

.buttons #seven,
#eight,
#nine,
#one,
#two,
#three,
#four,
#five,
#six,
#zero,
#decimal {
  background-color: #4d4d4d;
}
.buttons #seven:hover,
#eight:hover,
#nine:hover,
#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover,
#zero:hover,
#decimal:hover,
#equals:hover,
#divide:hover,
#multiply:hover,
#subtract:hover,
#add:hover,
#clear:hover {
  color: black;

  border: gray 2px solid;
}

.buttons #equals {
  background-color: #235f8d;
}
.buttons #equals:hover {
  background-color: #194466;
  /* border: 1px solid white; */
}
